/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    font-family: 'Khaki Two';
}

:root {
    --primary-color: #15291c;
    --secondary-color: #ec6300;
    --tertiary-color: #fbca6d;
    --light-color: #f4f4f4;
}

body {
    background-color: var(--primary-color);
}

.showcase {
    width: 100svw;
    height: 100svh;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.showcase .showcase-text {
    height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    z-index: 2;
    font-family: Montserrat;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: inherit;
    line-height: 120px;
    letter-spacing: -2px;
    font-weight: 600;
    font-size: 200px;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    -webkit-filter: none;
    filter: none;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    visibility: visible;
}

.showcase .showcase-text .showcase-text-inner {
    color: #fff;
}

.showcase .showcase-text .showcase-text-inner .showcase-text-inner-description {
    font-family: 'Montserrat';
    font-size: 32px;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    padding-left: 74px;
    opacity: 0;
    -webkit-transition: all 1.5s ease-out 2.5s;
    -o-transition: all 1.5s ease-out 2.5s;
    transition: all 1.5s ease-out 2.5s;
}

.showcase .showcase-text p {
    padding: 0;
    margin: 80px;
    margin-bottom: 0;
    margin-top: 0;
}

.showcase-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -o-object-fit: contain;
    object-fit: contain;
}

.showcase-images::after {
    content: '';
}

.showcase-images div {
    position: relative;
    height: 700px;

    /* Animation */
    overflow: hidden;
}

.showcase-images div img {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}

.showcase-images div::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.showcase-images .showcase-image {
    /* transition: all 2s ease-out 0.1s; */
    -webkit-transition: all 1.3s ease-out 0.2s;
    -o-transition: all 1.3s ease-out 0.2s;
    transition: all 1.3s ease-out 0.2s;
}

nav {
    position: fixed;
    width: 100dvw;
    background-color: #fff;
    height: 60px;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 1px 10px #999;
    box-shadow: 0px 1px 10px #999;
}

nav .logo {
    margin-left: 20px;
}

nav .nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    margin-right: 20px;
}

nav .nav-wrapper ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 800px;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}

nav .nav-wrapper ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat Alternates';
}

.underline {
    position: relative;
}

.underline::before {
    content: '';
    width: 100%;
    height: 10px;
    background-image: url('./img/underline.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 16px;

    /* animation: fadeIn 3s alternate 2s forwards; */
}

.content {
    background-color: #fff;
    color: #000;
}

/* Text Image Component */
.text-image--text-heading {
    font-family: 'Montserrat';
    font-size: 32px;
    color: #000;
}

.text-image--text-paragraph {
    font-family: 'Montserrat';
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
}

.text-image--image-wrapper--image {
    -o-object-fit: contain;
    object-fit: contain;
}

/* Text Component */
.text--heading {
    font-size: 32px;
    font-family: 'Montserrat';
}

.text--paragraph {
    font-family: 'Montserrat';
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
}

.wrapper-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 600px;
    background-color: white;
}

.separator {
    background-color: var(--tertiary-color);
    padding: 1rem 0;
}

.btn {
    display: inline-block;
    height: 50px;
    padding: 4px 40px;
    color: #333;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #333;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    font-family: Montserrat;

    position: relative;

    -webkit-transition: all 0.3s ease-in;

    -o-transition: all 0.3s ease-in;

    transition: all 0.3s ease-in;
}

.btn span {
    font-family: Montserrat;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.animation-underline {
    width: 0px;
    background-color: transparent;
    border: 2px solid transparent;
    height: 1px;
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.btn:hover .animation-underline {
    background-color: rgb(246, 112, 53);
    border: 2px solid rgb(246, 112, 53);
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 100%;
}

.footer {
    background-color: var(--light-color);
    color: #000;
    font-family: Montserrat;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.link {
    font-family: Montserrat;
    color: var(--secondary-color);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.link:hover {
    color: #f7a46a;
}

/* just copied, menu hamburger overlay */
/* surrounds overlay */

/* the checkbox we use for hamburger state */
input[id='toggler'][type='checkbox'] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

/* the hamburger parent for creating hamburger background */
.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 30px;
    height: 28px;
    background-color: white;
    padding: 1rem;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* center hamburger line */
.menu-wrap .hamburger > div {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 2px;
    width: 100%;
    background-color: black;
    -webkit-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}

/* up hamburger line */
.menu-wrap .hamburger > div::before {
    content: '';
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    background-color: black;
}

/* down hamburger line */
.menu-wrap .hamburger > div::after {
    content: '';
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    background-color: black;
}

/* clicked means checked - make a small background -> + means the hamburger class under the checkbox */
/*
input[id='toggler'][type='checkbox']:checked + .hamburger {
background-color: rgba(31, 170, 212, 1.0);
} 
*/

/* the actual checkbox - transform it to an X */
input[id='toggler'][type='checkbox']:checked + .hamburger > div {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

input[id='toggler'][type='checkbox']:checked + .hamburger > div::after,
input[id='toggler'][type='checkbox']:checked + .hamburger > div::before {
    content: '';
    top: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* Possible Hover Effect for the X */
/* 
input[id='toggler'][type='checkbox']:checked:hover + .hamburger > div { 
transform: rotate(225deg);
}
*/

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    visibility: hidden;
}

.menu-wrap .menu > div {
    background: rgba(0, 0, 0, 1);
    width: 500vh;
    height: 200vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* transform: scale(0); */

    opacity: 0;

    -webkit-transition: all 0.5s ease-out 0s;

    -o-transition: all 0.5s ease-out 0s;

    transition: all 0.5s ease-out 0s;
    visibility: hidden;
}

input[id='toggler'][type='checkbox']:checked ~ .menu > div {
    visibility: visible;
    /* transform: scale(1); */
}

.menu-wrap .menu > div > ul {
    list-style-type: none;
}

.menu-wrap .menu > div > ul li {
    margin: 1.5rem;
}

.menu-wrap .menu > div > ul li a {
    font-size: 2.5rem;
    text-decoration: none;
    color: #fff;
}

input[id='toggler'][type='checkbox']:checked ~ .menu > div {
    visibility: visible;
    opacity: 1;
}

.link-nav span {
    font-family: Montserrat;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.animation-underline {
    width: 0px;
    background-color: transparent;
    border: 2px solid transparent;
    height: 1px;
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.link-nav:hover .animation-underline {
    background-color: rgb(246, 112, 53);
    border: 2px solid rgb(246, 112, 53);
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 100%;
}

.link-nav:hover .animation-underline-nav {
    background-color: rgb(246, 112, 53);
    border: 2px solid rgb(246, 112, 53);
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 100%;
}

.animation-underline-nav {
    width: 0px;
    background-color: transparent;
    border: 2px solid transparent;
    height: 1px;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

@media only screen and (max-width: 500px) {
    .showcase {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }

    .showcase .showcase-text {
        font-size: 100px;

        height: 100%;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        z-index: 2;
        font-family: Montserrat;
        text-transform: capitalize;
        color: rgb(255, 255, 255);
        text-decoration: none;
        white-space: nowrap;
        min-height: auto;
        min-width: auto;
        max-height: auto;
        max-width: auto;
        text-align: inherit;
        line-height: 120px;
        letter-spacing: -2px;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        -webkit-filter: none;
        filter: none;
        -webkit-transform-origin: none;
        -ms-transform-origin: none;
        transform-origin: none;
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        visibility: visible;

        margin-top: 8rem;
        padding-left: 0;
    }

    .showcase .showcase-text p {
        margin: 0;
        padding: 0;
    }

    .showcase-text-inner-actual-text {
        margin-left: 0 !important;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
        padding: 0 !important;
        height: auto !important;
    }

    .showcase-text-inner-description {
        font-size: 24px !important;
        word-break: break-all !important;
        line-height: 0 !important;
        -webkit-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
        transform: translateY(0) !important;
        margin-top: 2rem !important;
        padding-left: 0.5rem !important;
    }

    .text-image--text-paragraph {
        font-family: 'Montserrat';
        font-size: 16px;
        text-align: justify;
        line-height: 1.5;
    }

    .text-wrapper p {
        font-size: 14px !important;
    }

    .container-mobile {
        width: auto !important;
    }

    .showcase-image-1 {
        margin-left: 8px !important;
        margin-right: 8px !important;
    }

    .showcase-image-2 {
        margin-right: 8px !important;
    }

    .showcase-images {
        margin-top: -8rem;
    }

    .wrapper-content-reverse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .content-2 {
        padding-top: 0 !important;
    }

    .images {
        padding-bottom: 10rem;
        background-color: #fff;
    }

    /* TODO: Instead if hiding those, implement a fading library that fades around these images */
    .gallery-image-1 {
        display: none;
    }

    .gallery-image-2 {
        margin-left: 1rem;
    }

    .gallery-image-3 {
        display: none;
    }
}
